<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/base.css" rel="stylesheet">
    <title>Skill Connection</title>
    {% endblock %}
</head>

<body>

  <!-- Wrap all page content here -->
  <div id="wrap">

  <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Skill Connection</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            <li><a href="/students">Student Search</a></li>
            <li><a href="/skills">Skill Search</a></li>
            <li><a href="/studentsearch">Jobs Search</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <!-- Begin page content -->
    <main id="content" role="main" class="container">

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-block alert-error fade in">
              <a class="close" data-dismiss="alert">&times;</a>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
      
    </main>

    <div id="footer">
      <div class="container">
        <p>Dorjee & Lucas &copy; 2014. All Rights Reserved.</p>
      </div>
    </div>
    
  </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="static/js/bootstrap.min.js"></script>

</body>
</html>