{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block head %}
    {{ super() }}
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" charset="utf-8">

{% endblock %}


{% block content %}

	<br /><br /><br />
	<div class="jumbotron">
	<h1>Welcome to SkillConnection</h1>
	<p>Connect locals with students looking to make money. Because, why not? </p>
	</div>

	<div class="panel panel-success col-md-6" class="fulldiv">
	  <div class="panel-heading">
	    <a href="/students"><h3 class="panel-title">Student</h3></a>
	  </div>
	  <div class="panel-body">
	    Students can find jobs based on their skills. 
	  </div>
	</div>

	<div class="panel panel-info col-md-6" class="fulldiv">
	  <div class="panel-heading">
	    <a href="/employees"><h3 class="panel-title">Jobs</h3></a>
	  </div>
	  <div class="panel-body">
	    Employees can post jobs and find students with skills.
	  </div>
	</div>


	<div id="footer">
	  <div class="container">
	    <p class="text-center">Dorjee & Lucas &copy; 2014. All Rights Reserved.</p>
	  </div>
	</div>


{% endblock %}
