{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block head %}
    {{ super() }}
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" charset="utf-8">

{% endblock %}


{% block content %}

	<br /><br /><br /> <br><br>
	<div class="jumbotron">
	<h1>Welcome to SkillConnection</h1>
	<p>Connect locals with students looking to make money. Because, why not? </p>
	</div>
	<br>
	<div class="panel panel-success col-md-6" class="fulldiv">
	  <div class="panel-heading">
	    <a href="/students"><h3 class="panel-title">Find Students</h3></a>
	  </div>
	  <div class="panel-body">
	    Students can find jobs based on their skills. 
	  </div>
	</div>

	<div class="panel panel-info col-md-6" class="fulldiv">
	  <div class="panel-heading">
	    <a href="/employees"><h3 class="panel-title">Find Jobs</h3></a>
	  </div>
	  <div class="panel-body">
	    Employees can post jobs and find students with skills.
	  </div>
	</div>
	<br /><br />
	<br /><br /><br /><br />
	<br /><br />
	<br /><br /><br /><br /><br /><br /><br />
	<hr>
	<div class="container">
		<div class="footer">
	    	<p class="text-center">&copy; Copyright 2014 <a href="https://dhondo01.github.io/">Dorjee Dhondup</a>, <a href="https://whoisduley.github.io/">Lucas Duley</a></p>
		</div>
	</div>

{% endblock %}
