{% extends "base.html" %}
{% block title %}Job Search{% endblock %}
{% block head %}
    {{ super() }}
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" charset="utf-8">

{% endblock %}


{% block content %}
<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h1><br />Job Search</h1>
  </div>
</div>
     <div class="page-header">
      <h3>Attention!</h3>
      <div class="alert alert-info">
        <strong>Oh snap!</strong> This name is not in our database yet.
        </div>
      </div>
      
      <form class="navbar-form navbar-left" role="search" method="GET" action="/jobs">
      	<div class="form-group">
      		<input type="text" class="form-control" placeholder="Job Name">
          {{ form.job }}
      	</div>
      	<button type="submit" class="btn btn-primary">Search</button>
      </form>
      <br>
	
{% endblock %}