{% extends "base.html" %}
{% block title %}Student Search{% endblock %}
{% block head %}
    {{ super() }}
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" charset="utf-8">

{% endblock %}

{% block content %}
<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h1><br />Create New Student</h1>
  </div>
</div>

{% if not form %} 
<div class="page-header">
    <h3>Congratulations!</h3>
    <div class="alert alert-success">
      You are successfully added to our database. Please see the jobs based on your skills.
      </div>
</div>


<a class="col-md-12" href="/3jobs"><button type="button" class="btn btn-s btn-success">Look at the jobs</button></a>


{% else %}

<div class="panel panel-info col-md-12" class="fulldiv">
      <div class="panel-heading">
        <h3 class="panel-title">Join the adventure!</h3>
      </div>
      <div class="panel-body">
        Please add yourself to our database. Based on your information, our app can generate related jobs. Have a good day!
      </div>
</div>

<div class="container">
    <form method="GET" action="/newstudent">
		<div><span class="input-label">{{ form.firstname.label }}: </span> {{ form.firstname }}</div>
		<div><span class="input-label">{{ form.lastname.label }}: </span> {{ form.lastname }}</div>
		<div><span class="input-label">{{ form.email.label }}: </span> {{ form.email }}</div>
		<div><span class="input-label">{{ form.phone.label }}: </span> {{ form.phone }}</div>
		<div><span class="input-label">{{ form.skill1.label }}: </span> {{ form.skill1 }}</div>
		<div><span class="input-label">{{ form.skill2.label }}: </span> {{ form.skill2 }}</div>
		<div><span class="input-label">{{ form.skill3.label }}: </span> {{ form.skill3 }}</div>
		</div> 
		<br>
		
		<button type="submit" class="btn btn-primary btn-m col-sm-2">Create Now</button>
	</form>
</div>

{% endif %}
{% endblock %}