{% extends "base.html" %}
{% block title %}Student Search{% endblock %}
{% block head %}
    {{ super() }}
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" charset="utf-8">

{% endblock %}

{% block content %}
<br><br>

<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h1><br/>{{ name }}</h1>
  </div>
  <div class="panel panel-primary col-md-9">
    <div class="panel-heading">
      <h3 class="panel-title">Student Profile</h3>
    </div>
    <div class="panel-body">
    	<h4>Skills:</h4>
      <ul>
        <li>{{skillInfo[0]}}</li>
        <li>{{skillInfo[1]}}</li>
        <li>{{skillInfo[2]}}</li>
      </ul>

      <h4>Contact {{ name }}: </h3>
      <ul>
        <li>Email: <a href= "mailto: {{studentInfo[1]}}" target="_blank"> {{studentInfo[1]}}</a></li>
        <li>Phone: {{studentInfo[2]}}</li>
      </ul>
  </div>
</div>
<div class="container">
  <a class="col-md-12" href="/top3"><button type="button" class="btn btn-s btn-success">Look at the top 3 jobs</button></a>
</div>

<br>
<div class="container">
  <a class="col-sm-6" href="/students"><button type="button" class="btn btn-s btn-success">
  New Search</button></a>
</div>

{% endblock %}