{% extends "base.html" %}
{% block title %}Student Search{% endblock %}
{% block head %}
    {{ super() }}
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" charset="utf-8">

{% endblock %}

{% block content %}
<br><br>

<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h1><br/>{{ name }}</h1>
  </div>
  <div class="panel panel-primary col-md-9">
    <div class="panel-heading">
      <h3 class="panel-title">Student Profile</h3>
    </div>
    <div class="panel-body">
    	<h4>Skills:</h4>
      <ul>
        <li>{{skillInfo[0]}}</li>
        <li>{{skillInfo[1]}}</li>
        <li>{{skillInfo[2]}}</li>
      </ul>

      <h4>Contact {{ name }}: </h3>
      <ul>
        <li>Email: <a href= "mailto: {{studentInfo[1]}}" target="_blank"> {{studentInfo[1]}}</a></li>
        <li>Phone: {{studentInfo[2]}}</li>
      </ul>
  </div>
</div>
<!-- <div class="container">
  <p>{{jobNameArray[0]}}{{jobTitleArray[0]}}</p>
  <p>{{jobNameArray[1]}}{{jobTitleArray[1]}}</p>
  <p>{{jobNameArray[2]}}{{jobTitleArray[2]}}</p>
</div> -->
  <div class="panel panel-info col-md-9">
    <div class="panel-heading">
      <h3 class="panel-title">Top 3 Jobs for {{ name }}</h3>
    </div>
    <div class="panel-body">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Employer Name</th>
                <th>Job Title</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{jobNameArray[0]}}</td>
                <td>{{jobTitleArray[0]}}</td>
              </tr>
              <tr>
                <td>{{jobNameArray[1]}}</td>
                <td>{{jobTitleArray[1]}}</td>
              </tr>
              <tr>
                <td>{{jobNameArray[2]}}</td>
                <td>{{jobTitleArray[2]}}</td>
              </tr>
            </tbody>
          </table>
        </div>  
      </div>
    </div>
  </div>
<br>
<div class="container">
  <a class="col-sm-6" href="/students"><button type="button" class="btn btn-s btn-success">
  New Search</button></a>
</div>

<br><br>
<br><br>

{% endblock %}