{% extends "base.html" %}
{% block title %}Student Search{% endblock %}
{% block head %}
    {{ super() }}
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" charset="utf-8">

{% endblock %}

<div class="page-header">
    <h3>Congratulations!</h3>
    <div class="alert alert-success">
      You are successfully added to our database. Please see the top 3 jobs based on your skills.
    </div>
</div>

<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h1><br/>{{ name }}</h1>
  </div>
  <div class="panel panel-primary col-md-9">
    <div class="panel-heading">
      <h3 class="panel-title">Top 3 Jobs</h3>
    </div>

    <div class="panel-body">
      <0l>
        <li>{{jobArray[0]}}</li>
        <li>{{jobArray[1]}}</li>
        <li>{{jobArray[2]}}</li>
      </ol>
    </div>
</div>

<br>
<div class="container">
  <a class="col-sm-6" href="/students"><button type="button" class="btn btn-s btn-success">
  New Search</button></a>
</div>


{% endblock %}